@inherits LayoutComponentBase

<header>
    <p>姗姗来迟</p>
</header>

<main>
    @Body
</main>

<footer>
    <!-- 本站所有网页的统一页脚 -->
    <p>© 2024 littletoxic 保留所有权利</p>
    <img src="备案图标.png" style="width: 16px;" />
    <a href="https://beian.mps.gov.cn/#/query/webSearch?code=36010302001014" rel="noreferrer" target="_blank">赣公网安备36010302001014</a>
    <a href="https://beian.miit.gov.cn/" target="_blank">赣ICP备2023000833号-1</a>
</footer>
